
div.scroll-content{
    background-image: url(../../assets/imgs/bd3.jpg);
}
ion-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color:blue;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;

}
.div1{
    background-color: aliceblue;
    // margin-left: 30%;
    margin-top: 25%;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    color:purple;
}
.div2{
    background-color: white;
    margin-left: 45%;
    margin-top: 0%;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    color: red;
}
